<p>food works!</p>


<div class="row mt-5" style="background-color:lightgray;">
    <div class="col-md-4 mb-3" *ngFor="let product of foods">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/{{product.foodImage}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{product.foodName}}</h5>
                <p class="card-text">{{product.foodtDescription}}</p>
                <p class="card-text"> ₹{{product.foodPrice}}</p>
                <form action="/action_page.php">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="100" placeholder="1"><br>
                    <button  class="btn btn-primary" (click)="addtocart(product)" routerLink="/cart">Add to Cart</button>
                  </form>
            </div>
        </div>
    </div>
</div>
