<p>update works!</p>

<div class="row">
    <div class="column">
        <table>
            <tr>
                <td>ID</td>
                <td>
                    <input [(ngModel)]="addfood.id" type="text">
                </td>
            </tr>
            <tr>
                <td> Name</td>
                <td>
                    <input [(ngModel)]="addfood.foodName" type="text">
                </td>
            </tr>
            <tr>
                <td> Description</td>
                <td>
                    <input [(ngModel)]="addfood.foodDescription" type="text">
                </td>
            </tr>
            <tr>
                <td>CatID</td>
                <td>
                    <input [(ngModel)]="addfood.catId" type="text">
                </td>
            </tr>
            <tr>
                <td> Image</td>
                <td>
                    <input [(ngModel)]="addfood.foodImage" type="text">
                </td>
            </tr>
            <tr>
                <td>Product Mrp</td>
                <td>
                    <input [(ngModel)]="addfood.foodPrice" type="text">
                </td>
            </tr>
        
    

            <input type="submit" (click)="AddFood()">
            <input type="button" (click)="Show()" value="Show" />
        </table>
    </div>
<table border="2">
    <tr style="background-color:grey">
        <td style="padding: 10px;">ID</td>
        <td style="padding:10px;"> Name</td>
        <td style="padding: 10px;"> Description</td>
        <td style="padding: 10px;">CatID</td>
        <td style="padding: 10px;"> Image</td>
        <td style="padding: 10px;"> Price</td>
        <td style="padding: 10px;"> Approve</td>
        <td style="padding: 10px;"> Status</td>

    </tr>
    <tr *ngFor="let item of addfoods" style="background-color: lightgrey;">
        <td>{{item.id}}</td>
        <td>{{item.foodName}}</td>
        <td>{{item.foodDescription}}</td>
        <td>{{item.catId}}</td>
        <td>{{item.foodImage}}</td>
        <td>{{item.foodPrice}}</td>

        <input type="button" value="Update" (click)="EditFood(item)" />
      
       
    </tr>
</table>